.taskWrapper {
    width: 800px;
    padding: 2rem;
    /* background-color: rgba(248, 247, 213, 0.5); */
    background-color: #F8F7D5;
    /* background-color:  #ECFAD8; */
    position: absolute;
    right:50%;
    transform: translate(50%);
    border-radius: 1rem;
}

.taskDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
    margin: 0.5rem;
}

/* .task {
    margin-right: 3rem;
} */

li {
    display: flex;
    align-items: center;
}

.numbering {
    margin-right: 1rem;
    font-size: 2rem;
}

.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.5s;
   
}

.delete:hover {
    color: red;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.5s;
}

.edit:hover {
    color: green;
}

.finish {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    transition: all 0.15s;
}

.finish:hover {
    color: crimson;
}

.finish:hover  .toolTip{
    display: block;
}

.edit:hover .toolTip {
    display: block;
}

.delete:hover .toolTip {
    display: block;
}

.importance {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}

.iconWrappers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.completed {
    opacity: 0.5;
    text-decoration: line-through;
}

.toolTip {
    display: none;
    position: absolute; 
    top: -1.5rem; 
    font-size: 1rem;
}